.skillBar {
	border: 1px solid rgba(37, 112, 126, 0.4);
	background-color: darken($link, 10%);
	width: 100%;
	margin-bottom: 1.2em; 
	border-radius: 20px;
	overflow: hidden;
	box-shadow: inset 0px 10px 20px -10px rgba(0, 0, 0, .4);
}

.skillInner {
	background-color: #9de0ad;
	height: .8em;
	box-shadow: inset -40px 0px 40px -30px rgba(200, 255, 220, .5);
}

.skill-tag {
	background-color: $green-bg;
	border-radius: 50px;
	font-size: 1.3em;
	padding: .4em 1em;
	color: #fff;
	float: left;
	margin: .2em;
	white-space: nowrap;
}

.spectrum-div {
	float: left;
	padding: 2em;
	position: relative;
	width: 100%;
}

.focusInner {
	background-color: #c717e6;
	height: .8em;
}

/* ==========================================================================
   Over 460 width
   ========================================================================== */
@media screen and (min-width: 460px) {
	.spectrum-div {
		width: 50%;
	}
}