.map {
	width: 100%;
	height: 280px;
}

.section {
	&.map-section {
		padding: 0px;
	}
}

/* ==========================================================================
   Over 440 width
   ========================================================================== */
@media screen and (min-width: 440px) {
	.map {
		height: 440px;
	}
}