<a id="top"></a>
<div class="header">
    <div class="wrap group">
        <div class="section">
            <div class="sectionHeader group">
                <h1>{{profile.userName}}</h1>
            </div>
            <div class="contact">
                <h2>{{profile.title}}</h2>
                <br>
                <p>{{profile.phone}}</p>
                <a href="mailto:{{profile.email}}">{{profile.email}}</a>
            </div>
            <div class="column">
                <a style="font-size: 1em;" href="{{profile.linkedIn}}"><div class="extLink" id="linkedin"><p>LinkedIn</p></div></a>
            </div>
        </div>
    </div>
    <div class="headerInner">
        <div class="bubble">
        </div>
    </div>
</div>

<div class="wrap group">


    <div class="section_right">
        
        <div class="section" style="border-top: none;">
            <div class="sectionHeader group">
                <div class="icon" style="background-image: url('/assets/images/skills.png');"></div>
                <h2>Skills</h2>
            </div>
            <div>
                <div class="column">
                    <div *ngFor="let skill of profile.skills" class="skill">
                        <p>{{skill.name}}</p>
                        <div class="skillBar">
                            <div class="skillInner" [style.background-color]="skill.barColor" [style.width]="skill.rating + '%'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="sectionHeader">
                <div class="icon" style="background-image: url('/assets/images/skills.png');"></div>
                <h2>Tools & tech</h2>
            </div>
            <div class="column">
                <div *ngFor="let tool of profile.tools" class="skill">
                    <p>{{tool.name}}</p>
                    <div class="skillBar">
                        <div class="skillInner" [style.background-color]="tool.barColor" [style.width]="tool.rating + '%'"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="sectionHeader group">
                <div class="icon" style="background-image: url('/assets/images/lang.png');"></div>
                <h2>Languages</h2>
            </div>
            <div>
                <div class="column">
                    <div *ngFor="let lang of profile.languages" class="skill">
                        <p>{{lang.name}}</p>
                        <div class="skillBar">
                            <div class="skillInner" [style.background-color]="lang.barColor" [style.width]="lang.rating + '%'"></div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>

        <div class="section" style="border-bottom: none;">
        <div class="sectionHeader group">
            <div class="icon" style="background-image: url(../assets/images/activities.png);"></div>
            <h2>Activities</h2>
        </div>
        <div>
            <div class="column">
                <h2 *ngFor="let activity of profile.activities">{{activity}}</h2>
            </div>
        </div>
    </div>

    </div>

    <div class="section section_left">
        <p *ngFor="let paragraph of profile.intro">{{paragraph}}</p>
    </div>

    <div class="section section_left">
        <div class="sectionHeader group">
            <div class="icon" style="background-image: url(assets/images/experience.png);"></div>
            <h2>Experience</h2>
        </div>
        <div>
            <h2>Praktikant</h2>
            <h3>Netto, Vesterbrogade Viborg</h3>
            <h4>Februar 2015</h4>

            <br />

            <h2>Praktikant</h2>
            <h3>Non-Food - Føtex, Viborg</h3>
            <h4>November 2014 - Januar 2015</h4>

            <br />

            <h2>I lære</h2>
            <h3>FOOD-afdelingen - Føtex, Silkeborg</h3>
            <h4>1. August 2014 - 15 Oktober 2014</h4>

            <br />

            <h2>Ungarbejder</h2>
            <h3>Netto, Bjerringbro</h3>
            <h4>2012 - 2013</h4>
            <p>Kassebetjening, vareopfyldning, kundeservice mm.</p>
        </div>
    </div>

    <div class="section section_left" id="education">
        <div class="sectionHeader group">
            <div class="icon" style="background-image: url(assets/images/education.png);"></div>
            <h2>Education</h2>
        </div>
        <div class="sectionContent">
            <h2>Gennemført modul a/b på hovedforløb</h2>
            <h4>Januar 2015</h4>

            <br>

            <h2>Afslutter HG2</h2>
            <h3>Handelsskolen Viborg</h3>
            <h4>Juni 2014</h4>

            <br>

            <h2>Uddannet guide</h2>
            <h3>Service & Co Guideskole i Spanien</h3>
            <h4>November 2013</h4>

            <br>

            <h2>Afslutter 9. og 10. klasse</h2>
            <h3>Nørbæk Efterskole</h3>
            <h4>2010 - 2012</h4>

            <br>

            <h2>Afslutter 8. klasse</h2>
            <h3>Egeskovskolen i Bjerringbro</h3>
            <h4>Juni 2010</h4>
        </div>
    </div>

    <div class="section">
        <div id="map" class="map"></div>
    </div>

</div>
<div class="footer">
    <div class="footerInner">
        <a style="font-size: 1em;" href="#top">
            <div class="footerBubble" style="background-image: url(assets/images/up.png);"></div>
        </a>
    </div>
</div>
