$font-stack: 'Roboto', sans-serif;
$primary-color: #AA0046;

$font-color: #2d2650;
$grey-background: #e4dde4;
$header-background: #edf2f2;

$purple-bg: #610766;
$purple-link: #4e2894;

$blue-bg: #25707e;

$green-bg: #1ca585;
$light-color: #fff;
$dark-color: #222;
$base-margin: 1em;

$base-rounding: 0px;