$font-stack: 'Roboto', sans-serif;
$primary-color: #AA0046;

$font-color: #41396d;
$grey-background: #dee8e8;
$header-background: #edf2f2;

$purple-bg: #41396d;
$purple-link: #6236b5;

$blue-bg: #25707e;

$green-bg: #3eb296;
$light-color: #fff;
$dark-color: #000;
$base-margin: 1em;

$base-rounding: 0px;