/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-size: 10px;
	color: $font-color;
	background-color: $grey-background;
	padding: 0em;
	font-family: $font-stack;
	font-weight: 400;
}

p, a {
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0em; 
	transition: all .2s ease;
}

p a {
	font-size: 1em;
}

a, a:visited {
	color: darken($link, 6%);
}

a:hover {
	color: lighten($link, 12%);
}

.textContent {
	p + p {
		margin-top: 1.4em;
	}
}

h1 {
	font-size: 2.2em;
	font-weight: 700;
	margin: 0px;
}

h2 {
	font-size: 1.8em;
	font-weight: 400;
	line-height: 52px;
	display: inline-block;
	margin: 0px;
	vertical-align: top;
}	

h3 {
	font-size: 1.8em;
	font-weight: 700;
	margin: .4em 0px;
}

h4 {
	margin: 1.2em 0em;
	font-size: 1.5em;
	color: $blue-bg;
	font-weight: 300; 
}

.link-button {
	background-color: $green-bg;
	padding: .5em 1em;
	color: #fff !important;
	border-radius: 50px;
	text-decoration: none;
	font-size: 1.5em;
	display: inline-block;
	font-weight: 400;
	transition: all .4s ease;
}

/* Layout */
.wrap {
	width: 100%;
	min-width: 30em;
	max-width: 72em; 
}

.header {
	background-color: #610766;
	//background-image: repeating-conic-gradient(at -120% 120%, rgba(255,255,255,.15) 0%, rgba(0,0,0,.3) 6%, rgba(255,255,255,.15) 12%), linear-gradient(243deg, #ce71f3 0%, #843df5 46%, #51d8f0 100%);
	background-image: linear-gradient(243deg, #ce71f3 0%, #843df5 46%, #51d8f0 100%);
	border-bottom: 1px solid rgba(0,0,0,.15);
	margin-bottom: 6em;
	box-shadow: inset 0px -4px 12px -6px rgba(0,0,0,.15);
}

.linked-in {
	background-color: #0077B5;
	border-radius: 50px;
	color: #fff !important;
	padding: .4em 2em;
	text-decoration: none;
	margin-top: 1em;
	margin-bottom: 1.5em;
	display: inline-block;
	transition: all .25s ease;
}

.raised {
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.28), 3px 3px 9px 1px rgba(0,0,0,.35);
    transform: scale(1.05);
    transition: all .25s ease;

	&:hover {
		box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.28), 7px 7px 14px rgba(0,0,0,.3);
		transform: translate(-1px, -4px) scale(1.1);
	}
}

.headerInner {
	height: 7.5em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	display: flex;
	justify-content: center;
}

.bubble {
	width: 15em;
	height: 15em;
	background-image: url(../images/mikkel.jpg);
	border-radius: 50%;
 	background-size: cover;
	border: 3px solid #fff;
}

.section {
	padding: 2em;
}

.sectionHeader {
	margin-bottom: 1em;
	display: flex;
	align-items: center;

	a {
		h2 {
			text-decoration: underline;
		}
	}

	.icon {
		width: 5.2em;
		height: 5.2em;
		margin-right: 1em;
		border-radius: 50%;
		background-color: $blue-bg;
		background-position: center;

		&.linkIcon {
			background-color: $link;
			display: inline-block;

			&:hover {
				background-color: lighten($link, 12%);
			}
		}
	}
}

.column {
	width: 100%; 
}

.footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #610766;
	background-image: linear-gradient(43deg, #bb2fb2 0%, #610766 100%);
	margin-top: 2em;
	border-top: 1px solid rgba(0,0,0,.25);
	box-shadow: inset 0px 8px 16px -6px rgba(0,0,0,.25);
}

.top {
	display: block;
	width: 28px;
	height: 28px;
	margin-top: -14px;
	background-color: $link;
	border-radius: 50%;
	cursor: pointer;
	background-size: contain;
	background-image: url(../images/up.png);

	&:hover {
		background-color: lighten($link, 12%);
	}
}
	
.experience {
	padding: 2em 0em;
	display: flex;
	flex-direction: column;

	& + .experience {
		border-top: 1px solid #cfcfcf;
	}
}

.link-container {
	padding-top: 2em;
}

/* ==========================================================================
   Over 460 width
   ========================================================================== */
@media screen and (min-width: 460px) {
	h1 {
		font-size: 3.2em;
	}
	
	h2 {
		font-size: 2.2em;
	}	
	
	.section_right {
		.section {
			width: 50%;
			float: left;
		}
	}

    .hidden-full {

	    .section {
	    	float: left;
	    	width: 50%;
	    }

    	.column {
    		width: 100%;
    	}
    }
}
/* ==========================================================================
   Over 720 width
   ========================================================================== */
@media screen and (min-width: 720px) {
  .wrap {
		margin: 0em auto; 
	}

	.footer {
		background-image: linear-gradient(43deg, #bb2fb2 0%, #610766 46%, #32aaf0 100%);
	}
}
/* ==========================================================================
   Over 980 width
   ========================================================================== */
@media screen and (min-width: 980px) {
	.wrap {
		max-width: 96em; 

		.section_right {
			float: right;
			width: 32em;
			padding-left: 4em;

			.section {
				width: 100%;
				float: none;
			}
		}

		.section {
			padding: 3em 0em; 
		}

		.section_left {
			float: left;
			width: 64em; 

			.column {
				width: 50%; 
			}
		}

		.column {
			width: 100%; 
		}
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden; 
}

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden; 
}

